/* ==== GENERAL STYLES ==== */

* {
  box-sizing: border-box;
}

strong {
  font-weight: 700;
}

/* ==== SIMPLE FOOTER ==== */

footer {
  display: table;
  width: 100vw;
  height: 8rem;
  text-align: center;
  padding: 1rem;
  font-family: Times;
  font-size: 1em;
}

.wrapper {
    text-align: center;
}

footer small {
  text-align: center;
  color: #4599e0;
  letter-spacing: .025rem;
  margin-bottom: 1.5rem;
  display: block;
}

.footer-nav a {
  text-align: center;
  color: #ff817b;
  text-decoration: none;
  margin: 0 .5rem;
  display: inline-block;
}

.footer-nav a:hover {
  color: #f26896;
  transition: color .15s ease-in-out;
}
