body{
  font-family: times;
  background:white;
  margin: 0 auto 0 auto;
  width:100%;
  text-align:center;
  margin: 20px 0px 20px 0px;
  font-size: 1.5em;
}

body p{
  font-size:14px;
  text-decoration: none;
  color:black;
}

h1{
  font-size:1.5em;
  color:#525252;
}

.box{
  background:white;
  width:300px;
  margin: 0 auto 0 auto;
  padding:0px 0px 70px 0px;
  border: #72bcd4 4px solid;
}
.box1{
  padding-bottom: 60px;
}





.email{
  background:#ecf0f1;
  border: #ccc 1px solid;
  border-bottom: #ccc 2px solid;
  padding: 8px;
  width:250px;
  color:#AAAAAA;
  margin-top:10px;
  font-size:1em;
  border-radius:4px;
}

.password, .gender, .number{
  border-radius:4px;
  background:#ecf0f1;
  border: #ccc 1px solid;
  padding: 8px;
  width:250px;
  font-size:1em;
}
.key{
  border-radius:2px;
  background:#ecf0f1;
  border: #ccc 1px solid;
  padding: 4px;
  width:100px;
  font-size:0.5em;
  text-align: center;
}
.btn{
  background:#CC6666;
  width:125px;
  padding-top:5px;
  padding-bottom:5px;
  color:white;
  border-radius:4px;
  border: #CC6666 1px solid;

  margin-top:20px;
  margin-bottom:20px;
  float:left;
  margin-left:16px;
  font-weight:800;
  font-size:0.8em;
}



#btn2{
  float:left;
  background:#72bcd4;
  width:125px;  padding-top:5px;
  padding-bottom:5px;
  color:white;
  border-radius:4px;
  border: #72bcd4 1px solid;

  margin-top:20px;
  margin-bottom:20px;
  margin-left:10px;
  font-weight:800;
  font-size:0.8em;
}
#btn3{

    color: black;
    font-size: 14px;

}

#btn4{
  float:left;
  background:#72bcd4;
  width:125px;  padding-top:5px;
  padding-bottom:5px;
  color:white;
  border-radius:4px;
  border: #72bcd4 1px solid;
  padding-left: 80px;
  padding-right: 80px;
  margin-top:20px;
  margin-bottom:20px;
  margin-left:10px;
  font-weight:800;
  font-size:0.8em;
}



@media only screen and (min-width: 975px) {
nav {
  float: left;
  border-style: none;

}

.logo img {
  float: left;
}
.nav {
  background-color: white;
  overflow: hidden;
}
/* Style the links inside the navigation bar */
.nav a {
  float: left;
  color: #72bcd4;
  text-align: right;
  padding: 25px 25px;
  text-decoration: none;
  font-size: 23px;
  width: 18%;
}
/* Change the color of links on hover */
.nav a:hover {
  background-color: white;
  color: #508fa3;
}
/* Add a color to the active/current link */
.nav a.active {
  background-color: white;
  color: #508fa3;
}
}

@media only screen and (min-width:401px) and (max-width:975px) {
  nav {
    float: left;
    border-style: none;
  }
  .logo img {
    float: left;
  }
  .nav {
    background-color: white;
    overflow: hidden;
  }
  .nav a {
    float: left;
    color: #72bcd4;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 16px;
    width: 12%;
  }
  .nav a:hover {
    background-color: white;
    color: #508fa3;
  }
  .nav a.active {
    background-color: white;
    color: #508fa3;
  }

}

@media only screen and (max-width:400px) {
	nav {
		float: center;
		border-style: none;
	}
	.logo img {
		float: center;
	}
	.nav {
		background-color: white;
		overflow: hidden;
	}
	.nav a {
		float: hidden;
		color: #72bcd4;
		text-align: center;
		padding: 2px 2px;
		text-decoration: none;
		font-size: 16px;
		width: 5%
	}
	.navigation {
		text-align: center;
	}

  .register{
    padding-left:
  }
}




/* share registry css */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body { background:white; }
form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:black;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #CC6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #CC4949; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#CC6666;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#CC4949; }

#p4{
  text-align: center;
  padding-left: 120px;
  padding-right: 120px;
  font-size: 20px;
  padding-top: 80px;
}

.paragraph{
  text-align: center;
  padding-left: 120px;
  padding-right: 120px;
  font-size: 20px;
  padding-top: 80px;

}

.passparagraph{
  padding-top: 80px;
  text-align: center;
  font-size: 20px;
  padding-right: 100px;
  padding-left: 50px;

}

#spaceparagraph{
  padding-top: 130px;
}

.header {
	padding-top: 35px;
  overflow: hidden;
  background-color: #72bcd4;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 8px;
  text-decoration: none;
  font-size: 13px;
  line-height: 10px;

}

.header a.logo {
  font-size: 15px;
  font-weight: bold;
}

.header a:hover {
  background-color: #72bcd4;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
	.header{
		padding-top: 27px;
		font-size: 13px;
	}
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}


.submitbtn{
  padding-bottom: 225px;

}
.submitbtn1{
  padding-top:200px;
}

.frh2{
  padding-top: 20px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
