/*for laptops/desktops */

@media only screen and (min-width: 975px) {
nav{float:left; border-style: none;}

.logo img{float:left;}

.nav {
  background-color: white;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.nav a {
  float: left;
  color: #72bcd4;
  text-align: right;
  padding: 25px 25px;
  text-decoration: none;
  font-size: 23px;
  width: 18%;
}

/* Change the color of links on hover */
.nav a:hover {
  background-color:white;
  color: #508fa3;
}

/* Add a color to the active/current link */
.nav a.active {
  background-color: white;
  color: #508fa3;
}

#introparagraph{
  text-align: center;
  padding-top: 75px;
  font-size: 20px;
  padding-left: 200px;
  padding-right: 200px;
}

.about{
  display: block;
  padding-left: 445px;
  padding-right: 200px;
}

}


/* tablet to smaller screen */
@media only screen and (min-width:401px) and (max-width:975px)
{
nav{float:left; border-style: none;}

.logo img{float:left;
  }
.nav{
  background-color:white;
  overflow: hidden;
}

.nav a{
  float:left;
  color: #72bcd4;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 16px;
  width: 12%;
}

.nav a:hover{
  background-color: white;
  color: #508fa3;
}

.nav a.active {
  background-color: white;
  color: #508fa3;
}

#introparagraph{
  text-align: center;
  padding-top: 75px;
  font-size: 18px;
  padding-left: 65px;
  padding-right: 65px;
}

.about{
  display: block;
  height: auto;
  width: 45%;
}
.about img{
  width: 175%;
height: 100%;
object-fit: contain;
padding-left: 55px;
padding-right:25px;
}
}

/*phone */
@media only screen and (max-width:400px)
{
nav{
  float:center;
  border-style: none;
}

.logo img{float: center;}

.nav {
  background-color:white;
  overflow:hidden;
}

.nav a{
  float:hidden;
  color:#72bcd4;
  text-align: center;
  padding: 2px 2px;
  text-decoration: none;
  font-size: 16px;
  width: 5%
}
.navigation{
  text-align: center;
}

#introparagraph{
  text-align: center;
  padding-top: 30px;
  font-size: 14px;

}

.about{
  display: block;
  height: auto;
  width: 45%;
}
.about img{
  width: 120%;
height: 100%;
object-fit: contain;
padding-left: 100px;
padding-right:25px;
}
}
