/*for laptops/desktops */

@media only screen and (min-width: 975px) {
nav{float:left; border-style: none;}

#p3{
  text-align: center;
  font-size: 24px;
}
.search input[type=text]{
  float: center;
  font-size: 20px;
  background-color: #94c0ff;
  padding-left: 30px;
}
.search {
  padding-left: 360px;
    padding-top: 50px;
}
.sb{
  width: 600px;
  height: 80px;
  border-radius: 20px;

}
.crbtn{
padding-top: 150px;
  padding-left: 625px;
}

.crbtn button{
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  padding: 15px 25px;
  color:white;
  background-color:#4599E0;
  border-radius: 20px;
}
.logo img{float:left;}

.nav {
  background-color: white;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.nav a {
  float: left;
  color: #72bcd4;
  text-align: right;
  padding: 25px 25px;
  text-decoration: none;
  font-size: 23px;
  width: 18%;
}

/* Change the color of links on hover */
.nav a:hover {
  background-color:white;
  color: #508fa3;
}

/* Add a color to the active/current link */
.nav a.active {
  background-color: white;
  color: #508fa3;
}

#introparagraph{
  text-align: center;
  padding-top: 75px;
  font-size: 20px;
  padding-left: 200px;
  padding-right: 200px;
}

.about{
  display: block;
  padding-left: 445px;
  padding-right: 200px;
}

.btn{
  padding-left: 650px;
  padding-top: 20px;
  padding-bottom: 100px;
}
.btn button{
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  padding: 15px 25px;
  color:white;
  background-color: #FF8362;
  border-radius: 20px;

}

.searchbtn{
  padding-top:100px;
  padding-left: 610px;
  padding-bottom: 40px;
}

.searchbtn button{
  font-size: 20px;
  background: #94c0ff;
  border-radius: 18px;

}

.searchtotal{
  border-style: inset;
  background-color: #ffbe61
}
.p3{
  text-align: center;
  font-size: 24px;
  padding-top: 60px;
}

#introparagraph2{
  text-align: center;
  font-size: 25px;
  padding-bottom: 40px;

}
.registryform{
  text-align: center;
  font-size: 25px;
}

input[type="radio"]{
  margin: 60px 100px 60px 0px;
  border-style: dashed;
  border-width: 2px;
  background-color: red;
}


.radio1{
  background-color: #dde6d5;
}

.radio2{
background-color: #fceee9;
}
.radio3{
  background-color: #a1c9d0;
}
}



/* tablet to smaller screen */
@media only screen and (min-width:401px) and (max-width:975px)
{
.crbtn{
  padding-top:150px;
    padding-left: 170px;
  }

.crbtn button{
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    padding: 10px 15px;
    color:white;
    background-color:#4599E0;
    border-radius: 20px;
  }

.paragraph{
    text-align: center;
    font-size: 24px;
    padding-left: 20px;
    padding-top: 50px;
  }
.search input[type=text]{
    float: center;
    font-size: 15px;
    background-color: #94c0ff;
    padding-left: 20px;
  }
.search {

    text-align: center;
    padding-left: 30px;
    padding-top: 100px;
  }
.sb{
    width: 300px;
    height: 80px;
    border-radius: 20px;
  }

  #introparagraph2{
    text-align: center;
    font-size: 20px;
    padding-top: 50px;

  }
  .registryform{
    text-align: center;
    font-size: 20px;
  }

  input[type="radio"]{
    margin: 40px 70px 50px 0px;
  }

  .radio1{
    background-color: #dde6d5;
  }

  .radio2{
  background-color: #fceee9;
  }
  .radio3{
    background-color: #a1c9d0;
  }
nav{float:left; border-style: none;}

.logo img{float:left;
  }
.nav{
  background-color:white;
  overflow: hidden;
}

.nav a{
  float:left;
  color: #72bcd4;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 16px;
  width: 12%;
}

.nav a:hover{
  background-color: white;
  color: #508fa3;
}

.nav a.active {
  background-color: white;
  color: #508fa3;
}

#introparagraph{
  text-align: center;
  padding-top: 75px;
  font-size: 18px;
  padding-left: 65px;
  padding-right: 65px;
}

.about{
  display: block;
  height: auto;
  width: 45%;
}
.about img{
  width: 175%;
height: 100%;
object-fit: contain;
padding-left: 55px;
padding-right:25px;
}

.btn{
  padding-left: 188px;
  padding-top: 20px;
}
.btn button{
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  padding: 12px 20px;
  color:white;
  background-color: #FF8362;
  border-radius: 20px;
  object-fit: contain;

}

.searchbtn{
  padding-top:70px;
  padding-left: 180px;
  padding-bottom: 40px;
}

.searchbtn button{
  font-size: 15px;
  background: #94c0ff;
  border-radius: 18px;

}

.searchtotal{
  border-style: inset;
  background-color: #ffbe61;
}


}

/*phone */
@media only screen and (max-width:400px)
{
nav{
  float:center;
  border-style: none;
}

.logo img{float: center;}

.nav {
  background-color:white;
  overflow:hidden;
}

.nav a{
  float:hidden;
  color:#72bcd4;
  text-align: center;
  padding: 2px 2px;
  text-decoration: none;
  font-size: 16px;
  width: 5%
}
.navigation{
  text-align: center;
}

#introparagraph{
  text-align: center;
  padding-top: 30px;
  font-size: 14px;

}

.about{
  display: block;
  height: auto;
  width: 45%;
}
.about img{
  width: 140%;
height: 100%;
object-fit: contain;
padding-left: 80px;
padding-right:25px;
}

.btn{
  padding-left: 150px;
  padding-top: 20px;
}
.btn button{
  font-size: 8px;
  text-align: center;
  cursor: pointer;
  padding: 8px 16px;
  color:white;
  background-color: #FF8362;
  border-radius: 16px;
  object-fit: contain;

}

input[type="radio"]{
  margin: 0px 70px 50px 0px;

}

.radio1{
  background-color: #dde6d5;
}

.radio2{
background-color: #fceee9;
}
.radio3{
  background-color: #a1c9d0;
}

.crbtn{
  padding-top:150px;
    padding-left: 90px;
  }

.crbtn button{
    font-size: 10px;
    text-align: center;
    cursor: pointer;
    padding: 10px 15px;
    color:white;
    background-color:#4599E0;
    border-radius: 20px;
  }
}
