* {
  box-sizing: border-box;
}

h2{
  text-align: center;
  padding-top: 20px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-size: 14px;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: white;
  padding: 10px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.bsbtn{
  text-align: center;
  padding-top: 20px;
}

.bsbtn button {
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  padding: 15px 25px;
  color: #black;
  background-color: #D9C1FB;
  border-radius: 20px;
  font-family: 'Laila', serif;
}


.birthdaybtn{
  text-align: center;
  padding-top: 20px;
}

.birthdaybtn button {
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  padding: 15px 25px;
  color: #black;
  background-color:#F9D7D5;
  border-radius: 20px;
  border-color: #f5afab;
  font-family: 'Laila', serif;
}


.weddingbtn{
  text-align: center;
  padding-top: 20px;
}

.weddingbtn button {
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  padding: 15px 25px;
  color: #black;
  background-color:#FDF3F7;
  border-radius: 20px;
  border-color: #f5afab;
  font-family: 'Cedarville Cursive', cursive;
}
